<div id="loading" class="slds-spinner_container">
  <div role="status" class="slds-spinner slds-spinner--medium">
    <span class="slds-assistive-text">LOADING</span>
    <div class="slds-spinner__dot-a"></div>
    <div class="slds-spinner__dot-b"></div>
  </div>
</div>

